@charset "UTF-8";
.contents--theater{
	padding-bottom: 160px;
  background: url(../img/theater/bg.png)bottom center no-repeat;
  background-size: 100%;
}
.theaterKey{
	position: relative;
	height: 135px;
	background: url(../img/theater/key.png) no-repeat;
	background-size: cover;
	padding-top: 45px;
	box-shadow: 0 1px 5px rgba(255,255,255,0.5);
	background-color: #424242;
}
.theaterName{
	position: absolute;
  top: 65%;
  left: 10px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
	color: #fff;
	font-size: 28px;
	line-height: 1.2;
}
.theaterDetail{
	padding-top: 15px;
	background: #00061e;
}
.mapBtnArea{
	width: 95%;
	margin: 0 auto 10px auto;
}
.mapBtn{
	display: block;
	position: relative;
	margin-bottom: 8px;
	height: 50px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #cecece 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#cecece 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffffff 0%,#cecece 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border: 1px solid #4d4d4d;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-o-border-radius: 7px;
	-ms-border-radius: 7px;
}
.mapBtn:last-child{
	margin-bottom: 0;
}
.mapBtn:before{
	position: absolute;
	top: 12px;
  right: 7px;
	content: "";
	display: block;
	width: 13px;
  height: 28px;
	background: url(../img/theater/arrow.png) left center no-repeat;
	background-size: 100%;
}
.startPoint{
	position: absolute;
	top: 50%;
	left: 0;
	margin: -13px 0 0 32px;
	font-size: 16px;
	font-weight: bold;
	color: #333;
}
.startPoint:before{
	display: block;
	position: absolute;
	top: 0px;
  left: -20px;
	content: "";
	width: 13px;
  height: 28px;
	background: url(../img/theater/map_icon.png) left center no-repeat;
	background-size: 100%;
}
.theaterMap{
	width: 95%;
	margin: 0 auto 10px auto;
}
.theaterContact{
	width: 95%;
	margin: 0 auto;
	overflow: hidden;
}
.theaterContactBtn{
	display: block;
	position: relative;
	width: 49%;
	height: 49px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #cecece 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#cecece 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffffff 0%,#cecece 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border: 1px solid #4d4d4d;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-o-border-radius: 7px;
	-ms-border-radius: 7px;
	float: left;
	box-sizing:border-box;
}
.theaterContactBtn:first-child{
	margin-right: 2%;
}
.theaterContactBtn:before{
	position: absolute;
  top: 10px;
  right: 10px;
  content: "";
  display: block;
  width: 9px;
  height: 28px;
  background: url(../img/theater/arrow.png) left center no-repeat;
  background-size: 100%;
}
.theaterContactBtn .tleBtn__text,
.theaterContactBtn .siteBtn__text{
	position: absolute;
	top: 50%;
	left: 0;
	margin: -12px 0 0 28%;
	font-size: 18px;
  font-weight: bold;
  color: #333;
}
.theaterContactBtn .tleBtn__text:before{
	display: block;
  position: absolute;
  top: 2px;
  left: -23px;
  content: "";
  width: 18px;
  height: 20px;
	background: url(../img/theater/tel_icon.png)left center no-repeat;
	background-size: 100%;
}
.theaterContactBtn .siteBtn__text:before{
	display: block;
  position: absolute;
  top: 2px;
  left: -23px;
  content: "";
  width: 16px;
  height: 20px;
	background: url(../img/theater/site_icon.png)left center no-repeat;
	background-size: 100%;
}
.hideMapWrapper{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}
.hideMap{
	width: 88%;
	margin: 0 auto;
  padding-top: 50px;
}
.closeMap{
	display: block;
  position: relative;
  margin-bottom: 8px;
  height: 45px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #cecece 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#cecece 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffffff 0%,#cecece 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */  border: 1px solid #dbdbdb;
  border-radius: 7px;
  text-align: center;
}
.closeMap a{
  display: block;
	margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}



